<div class="login-container">
  <mat-card class="login-card">
    <div class="logo-container">
      <img src="logo.png" alt="Logo Rincones Llaneros" class="logo" />
    </div>
    <h1 class="title">BIENVENIDO A RINCONES LLANEROS</h1>
    <p class="subtitle">Descubre los mejores sitios turísticos de Casanare</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <!-- Usuario o correo -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario o correo</mat-label>
        <input
          matInput
          placeholder="Ingrese su usuario"
          formControlName="correo"
          autocomplete="username"
        />
        <mat-error *ngIf="loginForm.get('correo')?.hasError('required')">
          El correo es obligatorio
        </mat-error>
        <mat-error *ngIf="loginForm.get('correo')?.hasError('email')">
          Formato de correo inválido
        </mat-error>
        <mat-error *ngIf="loginForm.get('correo')?.hasError('serverError')">
            {{ loginForm.get('correo')?.getError('serverError') }}
        </mat-error>
      </mat-form-field>

      <!-- Contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Ingrese su contraseña"
          formControlName="contrasena"
          autocomplete="current-password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
        >
          <mat-icon>{{
            hidePassword ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('contrasena')?.hasError('required')">
          La contraseña es obligatoria
        </mat-error>
        <mat-error *ngIf="loginForm.get('contrasena')?.hasError('serverError')">
            {{ loginForm.get('contrasena')?.getError('serverError') }}
        </mat-error>
      </mat-form-field>

      <!-- Botón de login -->
      <button
        mat-raised-button
        color="primary"
        class="full-width"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Iniciar Sesión
      </button>
    </form>

    <!-- Acciones -->
    <div class="actions">
      <button mat-button color="accent" (click)="recoverPassword()">
        ¿Olvidaste tu contraseña?
      </button>
      <button mat-button color="warn" (click)="goToRegister()">
        Crear cuenta nueva
      </button>
    </div>
  </mat-card>
</div>
