<div class="dashboard-container">
    <!-- Categorías -->
    <mat-card class="chart-card">
      <h2 class="title">Cantidad de sitios por categoría</h2>
      <canvas baseChart
        [data]="{
          labels: pieChartLabels,
          datasets: [{ data: pieChartData, backgroundColor: pieChartColors }]
        }"
        [type]="'pie'">
      </canvas>
    </mat-card>
  
    <!-- Municipios -->
    <mat-card class="chart-card">
      <h2 class="title">Sitios por cada municipio</h2>
      <canvas baseChart
        [data]="{
          labels: barChartLabels,
          datasets: [{ data: barChartData, label: 'Sitios por municipio', backgroundColor: barChartColors }]
        }"
        [type]="'bar'"
        [options]="{ indexAxis: 'y', responsive: true, maintainAspectRatio: false }">
      </canvas>
    </mat-card>
  
    <!-- Evolución -->
    <mat-card class="chart-card">
      <h2 class="title">Evolución de sitios publicados y eliminados</h2>
      <canvas baseChart
        [data]="{
          labels: lineChartLabels,
          datasets: lineChartData
        }"
        [type]="'line'">
      </canvas>
      <div class="legend">
        <span class="legend-item">
          <span class="dot blue"></span> Publicados
        </span>
        <span class="legend-item">
          <span class="dot red"></span> Eliminación
        </span>
      </div>
    </mat-card>
  </div>
  