<div class="tendencias-container">
  <h2 class="titulo-tendencias">Tendencias Turísticas</h2>

  <mat-card class="tarjeta-sitio" *ngFor="let sitio of getSitiosAMostrar()" matRipple>
    <div class="contenido-card">
      <img class="imagen-sitio" [src]="sitio.imagen" alt="Imagen del sitio" />

      <div class="contenido-sitio">
        <h3 class="nombre-sitio">{{ sitio.nombre }}</h3>
        <p class="descripcion-sitio">{{ sitio.descripcion }}</p>

        <div class="valoracion">
          <ng-container *ngFor="let estrella of getEstrellasArray(sitio.valoracion)">
            <mat-icon [ngClass]="estrella">{{ estrella }}</mat-icon>
          </ng-container>
          <span class="puntos">({{ sitio.valoracion }})</span>
        </div>

        <p class="comentarios">{{ sitio.comentarios }} comentarios</p>

        <div class="boton-mas">
          <button mat-stroked-button color="primary">Más...</button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
