<div class="perfil-container">
  <div class="perfil-left">
    <img [src]="usuario.fotoPerfil" alt="Foto de perfil" class="perfil-foto" />
    <h2 class="nombre">{{ usuario.nombre }}</h2>
    <div class="rol">{{ usuario.rol.nombre }}</div>

    <button (click)="editando = !editando" class="btn-editar">
      {{ editando ? 'Cancelar' : 'Editar Perfil' }}
    </button>
  </div>

  <div class="perfil-right">
    <form *ngIf="editando; else vistaNormal" (ngSubmit)="guardarCambios()" class="section-grid">
      <div class="info-box">
        <h3>Correo</h3>
        <input [(ngModel)]="usuario.correo" name="correo" type="email" required />
      </div>
      <div class="info-box">
        <h3>Cédula</h3>
        <input [(ngModel)]="usuario.cedula" name="cedula" required />
      </div>
      <div class="info-box">
        <h3>Teléfono</h3>
        <input [(ngModel)]="usuario.numeroTelefono" name="telefono" required />
      </div>
      <div class="info-box">
        <h3>Usuario</h3>
        <input [(ngModel)]="usuario.idCredencialesCredenciales.usuario" name="usuario" required />
      </div>
      <div class="info-box">
        <h3>Estado</h3>
        <select [(ngModel)]="usuario.activo" name="estado">
          <option [value]="true">Activo</option>
          <option [value]="false">Inactivo</option>
        </select>
      </div>


      <div class="info-box full-width">
        <button type="submit" class="btn-guardar">Guardar Cambios</button>
      </div>
    </form>

    <ng-template #vistaNormal>
      <div class="section-grid">
        <div class="info-box">
          <h3>Correo</h3>
          <p>{{ usuario.correo }}</p>
        </div>
        <div class="info-box">
          <h3>Cédula</h3>
          <p>{{ usuario.cedula }}</p>
        </div>
        <div class="info-box">
          <h3>Teléfono</h3>
          <p>{{ usuario.numeroTelefono }}</p>
        </div>
        <div class="info-box">
          <h3>Usuario</h3>
          <p>{{ usuario.idCredencialesCredenciales.usuario }}</p>
        </div>
        <div class="info-box">
          <h3>Estado</h3>
          <p [ngClass]="usuario.activo ? 'activo' : 'inactivo'">
            {{ usuario.activo ? 'Activo' : 'Inactivo' }}
          </p>
        </div>
      </div>
    </ng-template>
  </div>
</div>
