.map-wrapper {
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px; /* Ejemplo si necesitas una altura específica */
  }

  .actions :hover{
    cursor: pointer;
    background-color: #81b5d8;
  }