/* CONTENEDOR PRINCIPAL Y BACKGROUND*/
.main-container {
  height: 100vh;
}

/* TOOLBAR SUPERIOR*/
.toolbar {
  background-color: #0202029f;
  position: sticky;
  top: 0;
  height: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

/* Logo */
.logo {
  width: 100px;
  margin-right: 20px;
}

/* Espaciador */
.spacer {
  flex: 1 1 auto;
}

/* BOTONES DE NAVEGACIÓN*/
.botones,
.sesion {
  display: flex;
  gap: 10px;
}

.desktop-only button {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid white !important;
  margin: 15px;
}

/* BÚSQUEDA*/
.search-container {
  display: flex;
  align-items: center;
  background-color: #1a1a1abd;
  border-radius: 50px;
  padding: 0 16px;
  height: 40px;
  color: aliceblue;
}

.search-bar {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  color: white;
  flex-grow: 1;
  padding-left: 8px;
}

.search-bar::placeholder {
  color: white;
}

/* ÍCONO DE PERFIL*/
.perfil-btn {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  margin-left: 10px;
}

.perfil-icono {
  font-size: 40px;
  color: white;
  width: auto;
  height: auto;
}

.perfil-icono:hover {
  color: black;
}

/* HAMBURGUESA (RESPONSIVE) */
.hamburger {
  display: none;
  color: white;
  margin-left: 10px;
}

/* SIDENAV PRINCIPAL (MÓVIL)*/
.sidenav {
  background-color: #0202029f;
  width: 250px;
  color: aliceblue;
}

.mobile-search {
  display: none;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  align-items: center;
  background-color: #0202029f;
}

.mobile-search .search-bar {
  color: white;
}

/* SIDENAV PERFIL*/
.perfil-sidenav {
  width: 220px;
  background-color: #0202029f;
  color: white;
  padding: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1000;
}

.perfil-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.perfil-opcion {
  padding: 12px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.perfil-opcion:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/*BACKDROP CUANDO SIDENAV ESTÁ ABIERTO */
.mat-sidenav-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* RESPONSIVE*/
@media (max-width: 912px) {
  .desktop-only {
    display: none !important;
  }

  .hamburger {
    display: inline-flex;
  }

  .toolbar {
    flex-wrap: nowrap;
    padding: 10px;
  }

  .logo {
    margin-right: auto;
  }

  .mat-line {
    color: white !important;
  }

  /*  Mostrar barra de búsqueda en móvil dentro del sidenav */
  .mobile-search {
    display: flex;
  }
}
