<mat-sidenav-container class="main-container">
  <!-- SIDENAV PERFIL (DERECHO) -->
  <mat-sidenav #perfilSidenav class="perfil-sidenav" mode="over" position="end" >
    <div class="perfil-content">
      <a mat-list-item (click)="perfilSidenav.close()">
        <span class="mat-line" style="color: white;">CONFIGURACION</span>
      </a>
      <a mat-list-item (click)="perfilSidenav.close()">
        <span class="mat-line" style="color: white;">CERRAR SESION</span>
      </a>
    </div>
  </mat-sidenav>

  <!-- SIDENAV PRINCIPAL (RESPONSIVE MOBILE) -->
<mat-sidenav #sidenav class="sidenav" mode="over" position="start">
    
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="sidenav.close()">
        <span class="mat-line" style="color: white;">INICIO</span>
      </a>
      <a mat-list-item (click)="sidenav.close()">
        <span class="mat-line" style="color: white;">MUNICIPIOS</span>
      </a>
      <a mat-list-item routerLink="/home/tendencias" (click)="sidenav.close()">
        <span class="mat-line" style="color: white;">TENDENCIAS</span>
      </a>
      <a mat-list-item routerLink="/home/vendedor" (click)="sidenav.close()">
        <span class="mat-line" style="color: white;">CONFIGURACION</span>
      </a>
      <a mat-list-item routerLink="/login" (click)="sidenav.close()">
        <span class="mat-line" style="color: white;">CERRAR SESION</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- TOOLBAR PRINCIPAL -->
  <mat-toolbar color="primary" class="toolbar">
    <img class="logo" routerLink="/home" src="logo.png" alt="Logo" />

    <div class="botones desktop-only">
      <button mat-raised-button class="nav-btn" routerLink="/home">INICIO</button>
      <button mat-raised-button class="nav-btn">BUSCAR</button>
      <button mat-raised-button routerLink="/home/tendencias" class="nav-btn">TENDENCIAS</button>
    </div>

    <span class="spacer"></span>

    <!-- BARRA DE BÚSQUEDA DESKTOP --> 

    <button mat-icon-button (click)="perfilSidenav.toggle()" class="perfil-btn desktop-only">
      <mat-icon class="perfil-icono">account_circle</mat-icon>
    </button>

    <!-- HAMBURGUER -->
    <button mat-icon-button (click)="sidenav.toggle()" class="hamburger">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
