<header class="main-header">
  <h2 class="logo">Sitios y Eventos Casanare</h2>
  <nav class="main-nav">
    <a (click)="goToPushinicio()">Inicio</a>
    <a href="#">Eventos</a>
    <a (click)="goToPushDeta()">Actividades</a>
  </nav>
</header>

<!-- Filtros de selección -->
<div class="filtro-container">
  <label for="tipoSelect" class="filtro-label">¿Qué deseas ver?</label>
  <select id="tipoSelect" [(ngModel)]="tipoSeleccionado" (ngModelChange)="filtrarPorMunicipio()" class="filtro-select">
    <option value="eventos">Eventos</option>
    <option value="sitios">Sitios</option>
  </select>

  <label for="municipioSelect" class="filtro-label">Municipio:</label>
  <select id="municipioSelect" [(ngModel)]="municipioSeleccionado" (ngModelChange)="filtrarPorMunicipio()" class="filtro-select">
    <option value="">Todos</option>
    <option *ngFor="let m of municipios" [value]="m">{{ m }}</option>
  </select>
</div>

<!-- Tarjetas -->
<div class="tarjetas-container">
  <div *ngFor="let item of tipoSeleccionado === 'eventos' ? eventosFiltrados : sitiosFiltrados" class="tarjeta-evento">
    <img [src]="item.imagen" alt="Imagen" class="imagen-evento" />
    <div class="contenido-evento">
      <h3 class="titulo-evento">{{ item.titulo }}</h3>
      <p><strong>Descripción:</strong> {{ item.descripcion }}</p>
      <p><strong>Municipio:</strong> {{ item.municipio }}</p>
      <p *ngIf="item.fecha"><strong>Fecha:</strong> {{ item.fecha }}</p>
      <p><strong>Dirección:</strong> {{ item.direccion }}</p>
    </div>
  </div>
</div>


<footer class="main-footer">
  <p>&copy; 2025 Casanare Turístico. Todos los derechos reservados.</p>
</footer>
