.perfil-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 12px;
}

.perfil-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.foto-perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.info-basica h2 {
  margin: 0;
}

.apellido {
  color: gray;
  margin-top: -8px;
  margin-bottom: 10px;
}

.info-iconos p {
  margin: 4px 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.navegacion-horizontal {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.navegacion-horizontal button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
}

.titulo-fotos {
  margin-top: 30px;
}

.galeria-fotos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.galeria-fotos img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
