<div class="map-container">
  <google-map
    height="400px"
    width="100%"
    [center]="center"
    [zoom]="zoom">
    <map-marker *ngIf="miUbicacion" [position]="miUbicacion" label="Yo"></map-marker>
    <map-marker *ngIf="sitioUbicacion" [position]="sitioUbicacion" label="Sitio"></map-marker>
    <map-directions-renderer *ngIf="directions" [directions]="directions"></map-directions-renderer>
  </google-map>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="trazarRuta()">Cómo llegar</button>
  </div>
</div>
