<body>
    <div class="header-container">
      <div class="header-image">
        <h1>REGISTRA TU SITIO TURÍSTICO</h1>
      </div>
  
      <!-- Aquí comienza el formulario -->
      <div class="form-wrapper">
        <div class="form-container">
          <form [formGroup]="sitioForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Nombre del Sitio</mat-label>
              <input matInput formControlName="nombre" required>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Descripción</mat-label>
              <textarea matInput rows="4" formControlName="descripcion" required></textarea>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Dirección</mat-label>
              <input matInput formControlName="direccion" required>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Horario</mat-label>
              <input matInput formControlName="horario" placeholder="Ej. 8:00 AM - 5:00 PM" required>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Categoría</mat-label>
              <input matInput formControlName="categoria" required>
            </mat-form-field>
  
            <div class="file-input full-width">
              <label>Fotos del Sitio:</label>
              <input type="file" multiple (change)="onFileSelected($event)">
            </div>
  
            <button mat-raised-button color="primary" type="submit">Registrar Sitio</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  