<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Casanare - Detalles</title>
        <!-- sin enlace al CSS externo -->
      </head>
<body>

  <div style="text-align: center;"class="detalle-container">
    <div class="detalle-header">
      <img src="elemento.jpg" alt="Paseo en Kayak">
    </div>

    <h1>Que experiencias deseas probar en Casanare</h1>

    <nav class="actividades">
        <div class="columna">
          <ul>
            <li><a >Paseo a Caballo</a></li>
            <li><a >Restaurantes</a></li>
            <li><a >Hoteles</a></li>
            <li><a >Piscinas</a></li>
          </ul>
        </div>
        <div class="columna">
          <ul>
            <li><a >Museos</a></li>
            <li><a >Monumentos</a></li>
            <li><a >Caminata ecológica</a></li>
            <li><a >Safari Casanare</a></li>
          </ul>
        </div>
        <h2>Eventos y ferias de Casanare </h2>


      </nav>
      
      

    <div class="info">
      Experimenta una aventura por los hatos de Casanare conectandote con la naturaleza, montando a caballo o a pie para observar las distintas espcies que viven en ellas 
    </div>
    
    <div class="carrusel-container">
      <div class="carrusel" [style.--current-index]="currentIndex">
        <div class="carrusel-item" *ngFor="let image of images">
          <img [src]="image" alt="Imagen carrusel">
        </div>
      </div>
  
      
      
    
      <!-- Botones de navegación -->
      <button class="prev-btn" (click)="prev()">&#10094;</button>
      <button class="next-btn" (click)="next()">&#10095;</button>
    </div>
  


    <div class="datos">
      <div class="dato">
        <strong>Mani </strong>
        Festival De La Bandola Llanera "Pedro Florez"
      </div>
      <div class="dato">
        <strong> Sabanalarga </strong>
        Festival De La Naranja Y Feria Ganadera
      </div>
      <div class="dato">
        <strong>Tauramena </strong>
        Festival Folklórico Internacional Del Rodeo
      </div>
      <div class="dato">
        <strong>Festival Del Mango </strong>
        Manì
        
      </div>
    </div>

    <a href="reserva.html" class="btn-reservar">Reservar ahora</a>
  </div>

</body>
</html>