body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .detalle-container {
    max-width: 900px;
    margin: auto;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin-top: 30px;
    border-radius: 12px;
  }
  
  .detalle-header img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    max-height: 400px;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 2em;
    color: #333;
  }
  
  .info {
    margin-top: 10px;
    font-size: 1em;
    color: #555;
    line-height: 1.6;
  }
  
  .datos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
  }
  
  .dato {
    flex: 1 1 200px;
    background-color: #e9f5ff;
    padding: 15px;
    border-radius: 8px;
    color: #333;
  }
  
  .dato strong {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .btn-reservar {
    display: inline-block;
    margin-top: 30px;
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .btn-reservar:hover {
    background-color:rgb(207, 96, 16);
  }
  .actividades {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
  }
  
  .columna ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .columna li {
    background-color: #f2f2f2;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 200px;
  }
  
  .columna li:hover {
    transform: scale(1.03);
  }
  
  .columna a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
  }