<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Casanare - Detalles</title>
        <!-- sin enlace al CSS externo -->
      </head>
<body>

  <div class="detalle-container">
    <div class="detalle-header">
      <img src="elemento.jpg" alt="Paseo en Kayak">
    </div>

    <h1>Que experiencias deseas probar en Casanare</h1>

    <nav class="actividades">
        <div class="columna">
          <ul>
            <li><a >Paseo a Caballo</a></li>
            <li><a >Restaurantes</a></li>
            <li><a >Hoteles</a></li>
            <li><a >Piscinas</a></li>
          </ul>
        </div>
        <div class="columna">
          <ul>
            <li><a >Museos</a></li>
            <li><a >Monumentos</a></li>
            <li><a >Caminata ecológica</a></li>
            <li><a >Safari Casanare</a></li>
          </ul>
        </div>
      </nav>
      

    <div class="info">
      Experimenta una aventura por los hatos de Casanare conectandote con la naturaleza, montando a caballo o a pie para observar las distintas espcies que viven en ellas 
    </div>

    <div class="datos">
      <div class="dato">
        <strong>Duración</strong>
        2 horas
      </div>
      <div class="dato">
        <strong>Precio</strong>
        $20 USD por persona
      </div>
      <div class="dato">
        <strong>Incluye</strong>
        Guía, hospedaje, comidas
      </div>
      <div class="dato">
        <strong>Contacatanos</strong>
        +57 312038153
        
      </div>
    </div>

    <a href="reserva.html" class="btn-reservar">Reservar ahora</a>
  </div>

</body>
</html>