<div class="page-container">
    <mat-toolbar color="primary" class="header">
      <!-- Logo -->
      <img src="Icono.png" alt="Logo" class="logo" />
  
      <!-- Botones de navegación -->
      <div class="nav-buttons">
        <button mat-button class="nav-button">INICIO</button>
        <button mat-button class="nav-button">MAPA</button>
        <button mat-button class="nav-button">MUNICIPIOS</button>
        <button mat-button class="nav-button">FAVORITOS</button>
      </div>
  
      <!-- Barra de búsqueda -->
      <div class="search-box-container">
        <div class="search-box">
          <input type="text" placeholder="Buscar..." />
          <button>
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
  
      <!-- Ícono de usuario -->
      <button mat-icon-button class="user-icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
  
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-section">
          <a href="#" class="footer-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="footer-icon">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="footer-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
        <div class="footer-section">
          <a href="tel:xxx-xxx-xxx" class="footer-phone">xxx-xxx-xxx</a>
        </div>
      </div>
    </footer>
  </div>
  